header{
    position: fixed;
    z-index: 10;
    top:0;
    left: 0;
    height:60px;
    width: 100%;
    box-sizing: border-box;
}
#logo{
    font-size: 40px;
    font-weight: bold;
    color: rgb(248, 245, 245);
    text-decoration: none;
    float: right;
}

#navi{
    padding: 10px 40px;
    height:60px;
    width: 100%;
    display: grid;
    grid-template-columns:75% 25%; 
    background-color:#001942;
    transition:0.35s;
}
#navi>ul{
    display: flex;
    margin: 0;
    padding: 0;

}
#navi>ul>li{
    list-style-type: none;
}
#navi>ul>li>a{
    text-decoration: none;
    color: white;
    font-size:30px;
    display: block;
    padding: 0 25px;
}
.usericon{
    width:35px;
    height:38px;
    transition: 0.35s;
    transition: opacity 0.15;
    display: block !important;
}
.notifi{
    width:35px;
    height:35px;
    transition: 0.35s;
    transition: opacity 0.15;
    display: block !important;
}
.note{
    width:35px;
    height:40px;
    transition: 0.35s;
    transition: opacity 0.15;
    display: block !important;
}
#searchBar{
    outline: none;
    padding: 5px;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 2px;
    width: 350px !important;
    height:30px;
    font-size: 20px;
    background-image: url('/iconList/Search.png');
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding-left: 40px;
    margin-top:5px;
    transition: 0.2s;
}
#searchBar:focus{
    background-image: none;
    padding-left: 10px;
}
#sidenavbutton{
    font-size: 30px;
    font-weight: 550;
    color: #fff;
    cursor:pointer;
    float: left;
    padding: 0 30px;
    transition: 0.15s;
}
.phone{
    display: block !important;
}
.computer{
    display: none !important;
}
.iconset{
    display: block !important;
}

@media screen and (max-width: 850px){
    .Logofont{
        display: none;
    }
}
@media screen and (min-width: 650px) and (max-width: 750px){
    #searchBar{
        max-width: 250px;
    }
    #navi{
        padding: 10px 25px;
    }
    #navi>ul>li>a{
        padding: 0 15px;
    }
}