body{
    margin:0;
    padding:0;
    padding-top: 40px !important;
    padding-bottom: 60px !important;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position: fixed;
    z-index: 10;
    bottom:0;
    left: 0;
    height:45px;
    width: 100%;
    box-sizing: border-box;
}
#navi{
    height:45px;
    width: 100%;
    background-color:#001942;
    transition:0.35s;
}
#navi>ul{
    display: flex;
    margin: 0;
    padding: 0;
}
#navi>ul>li{
    list-style-type: none;
    margin: 0 auto;
}
#navi>ul>li>a{
    text-decoration: none;
    color: white;
    font-size:30px;
    display: block;
}
.usericon{
    width:30px;
    height:33px;
    transition: 0.35s;
    margin: 5px;
}
.notifi{
    width:30px;
    height:30px;
    transition: 0.35s;
    margin: 5px;
}
.navnote{
    width:30px;
    height:35px;
    transition: 0.35s;
    margin: 5px;
}
.searchIcon{
    width: 35px;
    height: 35px;
    color: white;
    margin: 5px;
}
.TwinkleLogo{
    width: 40px;
    height: 35px;
    margin: 5px;
}
#searchBar{
    outline: none;
    padding: 5px;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 2px;
    max-width: 35px;
    height:30px;
    font-size: 20px;
    margin-top:5px;
    transition: 1s;
    display: none;
}
#sidenavbutton{
    font-size: 30px;
    font-weight: 550;
    color: #fff;
    cursor:pointer;
    float: left;
    padding: 0 15px;
    transition: 0.15s;
}
.phone{
    display: none !important;
}
.computer{
    display: block;
}
.displayDis{
    display: block;
}
@media screen and (max-width: 350px){
    #searchBar{
        max-width: 165px !important;
    }
    #sidenavbutton{
        padding: 0 10px;
    }
}
#filtering{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height:40px;
    border-bottom: 1px solid rgb(226, 226, 226);
    transition: 0.35s;
}
#filtering>ul{
    display: flex;
    margin: 0;
    padding: 0;
    margin: auto;
}
#filtering>ul>li{
    list-style-type: none;
    height:100%;
    line-height: 40px;
}
#filtering>ul>li>a{
    text-decoration: none;
    color: black;
    font-size:20px;
    display: block;
    padding: 0 25px;
    letter-spacing: 2px;
    border-right:1px solid rgb(226, 226, 226);
    transition: 0.3s;
}
#filtering>ul>li>a:active{
    background-color: rgb(226, 226, 226);
}
.bord{
    transition: all 0.4s;
    border-bottom: 3px solid #001942;
    position: fixed;
    top:0;
    left:0;
    display: block;
    box-sizing: border-box;
    pointer-events: none;
}