main {
    margin-top: 80px;
    margin-left: 15%;
}

#fileUpload {
    display: none;
}

textarea {
    resize: none;
    margin-right: 10px;
}

label[for="fileUpload"] {
    cursor: pointer;
    background: rgb(241, 241, 241);
    padding: 5px;
}

label[for="fileUpload"]:hover {
    background: rgb(233, 233, 233);
}

#filePreview {
    display: none;
    height: 156px;
}

#errorMessage {
    display: none;
    border-left: 1px solid gray;
    padding-left: 5px;
}

#post {
    margin-top: 5px;
}

#progress {
    visibility: hidden;
    background-color: #ddd;
}

#bar {
    text-align: center;
    background-color: #4CAF50;
    line-height: 30px;
    color: white;
}

#posts {
    margin-top: 10px;
}

.post {
    margin: 10px;
}

.content img {
    height: 250px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

#logout{
    position: relative;
    bottom: 0;
}
/*================------------------=====================*/