body{
    padding:0;
    margin:0;
    overflow: hidden;
    background: linear-gradient(to top left,white,rgb(216, 216, 216),white);
}

#loginsec{
    float: right;
    height: 100vh;
    width: 49vw;
    display: block;
    /* text-align: center; */
    align-items: center;
    box-sizing: border-box;
}
#loginsec>#intro{
    text-align: left;
    margin-left: 50px;
    font-size: 40px;
    color: black;
    font-weight: 50;
}
#loginsec>form{
    height:100%;
    width: 60%;
    margin: auto;
    margin-top: 120px;
}
#loginsec>form>input{
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    border:1px solid rgb(184, 184, 184);
    outline: none;
    background-color: rgb(248, 248, 248);
    font-size: 20px;
}
#loginsec>form>input:not([type="submit"]){
    padding: 10px 4px 10px 50px;
    
}
#loginsec>form>input:focus{
    border:1px solid rgb(131, 131, 131);
    background-color: white;
}
#username{
    background-image: url(/styles/user-regular.svg);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 25px;
}
#loginsec>form>#password{
    background-image: url(/styles/lock-solid.svg);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 25px;
}
#showpass{
    width: 24px;
    height:24px;
    position: absolute;
    right: 11vw;
    top: 52vh;
    cursor: pointer;
    display: none;
}

#loginsec>form>#login{
    width:100%;
}
#loginsec>form>label{
    color: #03037c;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
#loginsec>form>input[type="submit"]:hover{
    background-color: rgb(219, 219, 219);
    cursor: pointer;
}
#midLine{
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 3px;
    background-color: grey;
    border-radius: 50%;
}