*{
    -webkit-tap-highlight-color: transparent;
}
html, body{
    overflow: auto;
}
body{
    min-height: 100%;
    margin: 0;
    padding:0;
    background-color: #f5f5f8;
}
.Tlogo{
    margin: 10px -40px -10px 0;
    animation: Tlogo 3s infinite;
    -webkit-animation: Tlogo 3s infinite;
    -moz-animation: Tlogo 3s infinite;
    animation-timing-function:cubic-bezier(0.26, 0.48, 0, 1.25);
}
@keyframes Tlogo{
    from{transform:rotateY(0deg);}
    to{transform:rotateY(540deg);}

}
@-webkit-keyframes Tlogo{
    from{transform:rotateY(0deg);}
    to{transform:rotateY(540deg);}

}
@-moz-keyframes Tlogo{
    from{transform:rotateY(0deg);}
    to{transform:rotateY(540deg);}

}
#logo{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 65px;
    top: 3%;
    color:#001942;
    text-align:center;
    letter-spacing: 0.5em;
}
/* Note: organize different devices' media queries */
#loginsec{
    margin: 20px auto;
    display: block;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    overflow:hidden;
}
#passwordContainer {
    display: flex;
    align-items: center;
    border-bottom: 3px solid #0d6cca;
    box-sizing: border-box;
}
#passwordContainer #password {
    border:none;
}
.topcolor{
    width: 100%;
    background-color: #001942;
    overflow: hidden;
}
#intro{
    display: inline-block;
    text-align: left;
    font-size: 40px;
    color: white;
    font-weight: 600;
    margin:0;
    padding: 10px;
}
.TwinkleL{
    float:right;
    display:none;
}
#loginsec>form{
    padding-top: 10px;
    height:100%;
    width: 80%;
    margin: auto;
}
#loginsec>form input:not([type="checkbox"]){
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    outline: none;
    background-color: rgb(248, 248, 248);
    font-size: 20px;
    border: none;
}
input[name="username"]{
    border-bottom: 3px solid #0d6cca !important;
}
#loginsec>form input:not([type="checkbox"]):focus,#loginsec>form input:not([type="checkbox"]):valid{
    background-color: white;
}
#loginsec>form input:not([type="submit"]):not([type="checkbox"]){
    padding: 10px 4px 10px 50px;
}
#loginsec>form>input[type="submit"]{
    background-color: transparent;
    font-weight: 600;
    border: 1px solid rgb(230, 230, 230);
}
#loginsec>form>input[type="text"]:focus{
    /* border-bottom:2px solid #0a68c5; */
    background-color: white;
}
/* remember me styling */
.checkc{
    margin:8px 0 ;
    display:block;
    position: relative;
    font-size: 20px;
    font-weight: 300;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.checkc>span{
    padding:10px;
}
.checkc:hover input ~ #checkin{
    background-color: rgb(209, 209, 209);
}
.checkc input:checked ~ #checkin{
    background-color: #03037c;
}
#checkin:after{
    content:"";
    position: absolute;
    display: none;
}
.checkc #checkin:after{
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkc input:checked ~ #checkin:after{
    display: block;
}

.checkc>input[type="checkbox"]{
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    margin-right:10px;
}
.checkc>#checkin{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* ---------------------------------------*/
#username{
    background-image: url(/iconList/User.png);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 25px;
}
#password{
    background-image: url(/iconList/Lock.png);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 25px;
}
#showpass{
    width: 24px;
    height:24px;
    left: 60%;
    bottom: 51%;
    cursor: pointer;
    display: none;
}

#loginsec>form>#login{
    width:100%;
}
#loginsec>form>label{
    color: #000;
    font-weight: 600;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif
}
#loginsec>form>input[type="submit"]:hover{
    background-color: #6284e03d;
    cursor: pointer;
}
#resetpass{
    float: right;
    font-size: 18px;
}

#signbottun>a{
    background-color: #001942;
    font-size: 17px;
    text-decoration: none;
    color: #fff;
    font-weight: 580;
    text-align: center;
    width: 8vw;
    padding: 10px;
    letter-spacing: 4px;
}
#signbottun>a:hover{
    background-color: #001942bd;
}
#count{
    position: absolute;
    top: 38%;
    left: 60%;
    display:none;
}
.error{
    color: red;
}
@media only screen and (min-width: 768px) {
    #logo {
        right: 20%;
    }
    #loginsec {
        width: 40em;
    }
    #loginsec>form{
        width: 60%;
    }
}
@media only screen and (max-width:600px){
    body{
        background-color: white
    }
    #logo{
        display:none;
    }
    .TwinkleL{
        display: block;
    }
    #loginsec{
        margin: 0;
    }
    #loginsec{
        border-radius: 0;
    }
    #loginsec>form{
        margin: 10% auto;
    }
}