body{
    padding:0;
    margin:0;
    overflow: hidden;
    background: linear-gradient(to top left,white,rgb(216, 216, 216),white);
}
.topnav
#logo{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 65px;
    position: relative;
    top: 3%;
    left: 3%;
    color:#cc983b;
}
.contain{
    margin: auto;
    height: 100vh;
    width:49vw;
    display:block;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    border-radius: 4%;
    overflow: hidden;
}

.contain>#signintro{
    text-align: left;
    font-size: 40px;
    color: white;
    font-weight: 50;
    background-color: #2b75c0;
    margin:0;
    padding: 10px;
}
.contain>form{
    height: 100%;
    width:60%;
    margin:80px auto;
    
}
.contain>form>input{
    display:block;
    width: 100%;
    padding:10px;
    margin-top: 30px;
    border: 1px solid rgb(184, 184, 184);
    outline:none;
    font-size: 20px;
    background-color: rgb(248, 248, 248);
}
.contain>form>input:not([type="submit"]){
    padding: 10px 4px 10px 50px;
    box-sizing: border-box;
}
.contain>form>input:focus{
    border:1px solid rgb(131, 131, 131);
    background-color: white;
}
#email{
    background-image: url(/styles/envelope-regular.svg);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 25px;
}
#choosename{
    background-image: url(/styles/user-regular.svg);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 25px;
}
#choosepass{
    background-image: url(/styles/lock-solid.svg);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 25px;
}
#Wshowpass{
    width: 24px;
    height:24px;
    position: absolute;
    left: 36%;
    top: 64.5%;
    cursor: pointer;
    display: none;
}
.contain>form>#register{
    width:100%;
}
.contain>form>label{
    color: black;
    font-weight: bold;
    font-size: 25px;
    font-family: Arial;
}
.contain>form>input[type="submit"]:hover{
    background-color: rgb(219, 219, 219);
    cursor: pointer;
}
#Wshowpass{
    width: 24px;
    height:24px;
    position: absolute;
    left: 62%;
    top: 71%;
    cursor: pointer;
    display: none;
}