body{
    padding:0;
    overflow: hidden;
    background-color: #f5f5f8;
}

#logo{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 65px;
    position: relative;
    top: 3%;
    left: 70%;
    color:#001942;
}

#loginsec{
    margin: auto;
    height: 100%;
    width: 45%;
    display: block;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
}
#loginsec>#intro{
    text-align: left;
    margin-left: 10%;
    font-size: 40px;
    color: black;
    font-weight: 600;
}
#loginsec>form{
    height:100%;
    width: 50%;
    margin: auto;
}
#loginsec>form>input{
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    outline: none;
    background-color: rgb(248, 248, 248);
    font-size: 20px;
    border: none;
}
#loginsec>form>input:not([type="submit"]):not([type="checkbox"]){
    padding: 10px 4px 10px 50px;
    box-sizing: border-box;
    border-bottom: 2px solid #0d6cca;

#loginsec>form>input[type="submit"]{
    background-color: transparent;
    font-weight: 600;
    border: 1px solid rgb(31, 31, 31);
}
#loginsec>form>input:focus{
    border-bottom:2px solid #0a68c5;
    background-color: white;
}
/* remember me styling */
.checkc{
    display:block;
    position: relative;
    font-size: 20px;
    font-weight: 300;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.checkc>span{
    padding:10px;
}
.checkc:hover input ~ #checkin{
    background-color: rgb(209, 209, 209);
}
.checkc input:checked ~ #checkin{
    background-color: #03037c;
}
#checkin:after{
    content:"";
    position: absolute;
    display: none;
}
.checkc #checkin:after{
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkc input:checked ~ #checkin:after{
    display: block;
}

.checkc>input[type="checkbox"]{
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkc>#checkin{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* ---------------------------------------*/
#username{
    background-image: url(/iconList/User.png);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 25px;
}
#loginsec>form>#login{
    width:100%;
}
#loginsec>form>label{
    color: #000;
    font-weight: 600;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
#loginsec>form>input[type="submit"]:hover{
    background-color: #6284e03d;
    cursor: pointer;
}
#resetpass{
    float: right;
    font-size: 18px;
}

#signbottun>a{
    background-color: #001942;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 530;
    text-align: center;
    border-radius: 20px;
    width: 8vw;
    padding: 10px;
}
#signbottun>a:hover{
    background-color: #001942bd;
}
#count{
    position: absolute;
    top: 38%;
    left: 60%;
    display:none;
}


