*{
    -webkit-tap-highlight-color: transparent;
}
body{
    margin: 0;
    padding:0;
    overflow: auto;
    background: #f5f5f8;
}
#logo>img{
    margin: 10px -40px -10px 0;
    animation: Tlogo 3s infinite;
    -webkit-animation: Tlogo 3s infinite;
    -moz-animation: Tlogo 3s infinite;
    animation-timing-function:cubic-bezier(0.26, 0.48, 0, 1.25);
}
@keyframes Tlogo{
    from{transform:rotateY(0deg);}
    to{transform:rotateY(540deg);}

}
@-webkit-keyframes Tlogo{
    from{transform:rotateY(0deg);}
    to{transform:rotateY(540deg);}

}
@-moz-keyframes Tlogo{
    from{transform:rotateY(0deg);}
    to{transform:rotateY(540deg);}

}
#logo{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 65px;
    top: 3%;
    color:#001942;
    text-align:center;
    letter-spacing: 0.5em;
    margin-bottom: 2%;
}
.contain{
    margin: auto;
    display:block;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}
.topcolor{
    width: 100%;
    background-color: #001942;
    overflow: hidden;
}
.inputContainer {
    display:flex;
    align-items: center;
    border-bottom: 3px solid #0d6cca;
}
.inputContainer #choosename, .inputContainer #choosepass {
    border:none;
}
#signintro{
    display: inline-block;
    text-align: left;
    font-size: 40px;
    color: white;
    font-weight: 600;
    margin:0;
    padding: 10px;
}
.TwinkleL{
    float:right;
    display: none;
}
.contain>form{
    height: 100%;
    width:80%;
    margin: 10px auto;
}
.contain>form input{
    display:block;
    width: 100%;
    padding:10px;
    margin-top: 5px;
    border: none;
    outline:none;
    font-size: 20px;
    background-color: rgb(248, 248, 248);
}
.contain>form input:not([type="submit"]){
    padding: 10px 4px 10px 50px;
    box-sizing: border-box;
    border-bottom: 2px solid #0d6cca;
}
.contain>form input:not([type="submit"]):focus{
    background-color:white;
}
.contain>form input:not([type="submit"]):valid{
    background-color:white;
}
#fname{
    width: 100%;
    padding: 10px 4px 10px 10px;
}
#lname{
    width:100%;
    padding: 10px 4px 10px 10px;
}
#email{
    background-image: url(/iconList/Mail.png);
    background-position: 10px 12px;
    background-repeat: no-repeat;
    background-size: 25px;
}
#choosename{
    background-image: url(/iconList/User.png);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 25px;
}
#choosepass{
    background-image: url(/iconList/Lock.png);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 25px;
}

.contain>form>#register{
    font-weight: 600;
    border: 1px solid rgb(230, 230, 230);
    margin-bottom: 5%;
}
.contain>form>label{
    color: black;
    font-weight: bold;
    font-size: 25px;
    font-family: Arial;
}
.labelcon{
    display: flex;
}
.labelcon:nth-child(1){
    margin: 0 5px 0 0;
}
.labelcon>div>label{
    color: black;
    font-weight: bold;
    font-size: 25px;
    font-family: Arial;
    padding: 0;
}
.contain>form>input[type="submit"]:hover{
    background-color: #6284e03d;
    cursor: pointer;
}
#register{
    width:75%;
    float:left;
}
.login{
    color:white;
    float:right;
    text-decoration: none;
    outline: none;
    border: 1px solid rgb(230, 230, 230);
    display:block;
    padding:10px;
    margin-top: 5px;
    font-size: 20px;
    background-color: #001942;
}
.login:hover{
    opacity: .7;
}
#Wshowpass{
    width: 24px;
    height:24px;
    left: 60%;
    bottom: 42%;
    cursor: pointer;
    display: none;
}
/* change this */
#message{
	min-height: 250px;
	padding: 20px 20px 0px 20px;
	border-radius: 5px;
	background: aliceblue;
	text-align: center;
    height: 100%;
}
#message>ul{
    padding: 0;
    margin:50% 0;
}
#message>ul>li{
    list-style-type: none;
    margin: 30px;
}
#message>ul>li>span{
    color: green;
    border: 2px solid black;
    padding: 10px;
    font-size: 20px;
}
#message>ul>li>a{
    width: 100px;
    color:white;
    text-decoration: none;
    outline: none;
    border: 1px solid rgb(230, 230, 230);
    padding:10px;
    font-size: 20px;
    background-color: #001942;
}
#count{
    top: 47%;
    left: 60%;
    display:none;
}
.error {
    color: red;
}
.lnerror{
    float: right;
    margin: 0 2% 0 0;
}
@media only screen and (min-width: 768px) {
    #logo {
        right: 20%;
    }
    .contain {
        width: 40em;
    }
    .contain>form{
        width: 60%;
    }
}
@media only screen and (max-width:600px){
    body{
        background-color: white;
    }
    .TwinkleL{
        display: block;
    }
    #logo{
        display: none;
    }
    .labelcon{
        display: unset;
    }
    #message{
        height: 100vh;
    }
}
@media only screen and (max-width: 400px){
    #register{
        width: 65%;
    }
}