.set-blur{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.Popcon{
    position: fixed;
    left:0;
    top:0;
    z-index:999;
    width:100vw;
    height:100vh;
    background-color: rgba(22, 22, 22, 0.4);
    display:none;
    overflow: auto
}

.Postpop{
    background-color: white;
    position: absolute;
    top:100px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    overflow:hidden;
    border-radius: 20px 20px 4px 4px;
    border: 1px solid rgb(236, 236, 236);
}
.texter>textarea{
    resize: none;
    outline:none;
    border:none;
    font-size:24px;
    width:94%;
    min-height:5em;
    min-width: 90%;
    padding:0 15px 10px 15px;
    margin-top: 4%;
    border-bottom: 1px solid rgb(236, 236, 236);
}
.postypes{
    width:100%;
    display: flex;
}
.postypes>div{
     border: 1px solid rgb(223, 223, 223);
     padding: 3px 10px;
     margin: 2px 10px;
     cursor: pointer;
    transition: 0.6s;
}
.postypes>div>span{
    color:rgb(136, 136, 136);
}
.postypes>div:hover{
    background-color: rgb(223, 223, 223);
}
.filterchoice>input{
    width:450px;
    border:none;
    outline: none;
    font-size: 20px;
    padding: 10px 15px;
    background-color: white;
}
.drop{
    width:100%;
    display: none;
    transition: 0.3s;
}
.drop>ul{
    width:100%;
    background-color: rgb(247, 245, 245);
    margin:0;
    padding:0;
}
.drop>ul>li{
    list-style-type: none;
    font-size: 17px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.2s;
}
.drop>ul>li:hover{
    background-color: rgb(235, 235, 235);
}
.markup{
    float:right;
    width: 18px;
    height:18px;
    background-color: white;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 50%;
}
.selected{
    /* background-color:#001942 !important; */
    border: 4px solid #001942 !important;
    box-sizing: border-box;
    width:20px !important;
    height:20px !important;
}

/*<<<<<<<<<< the container for uploading and displaying images/videos  >>>>>>>>>>*/
.uploadinfo{
    width:100%;
}
.uploadbutton{
    display: inline-block;
    width: 100%;
    max-width: 150px;
    height: 30px;
    margin: 5px 10px;
    padding: 0;
    position: relative;
    z-index: 1;
    border-bottom: 2px solid #001942;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
}
.uploadbutton>input[type="file"]{
    float: left;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: relative;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}
.uploadbutton > span{
    position: absolute;
    top: 5%;
    left: 0;
    margin: 0 30px;
    padding: 0;
    font-size: 18px;
}

.imageshow{
    display: none;
    position: relative;
    width: 30%;
    outline: none;
    margin: 0;
    padding: 10px;
}
.imagecon{
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 0;
}
.imagecon> img{
    display: block;
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}
.imageshow > div > span{
    position: absolute;
    top:0;
    left:0;
    transform: translate(20%, 50%);
    font-size: 20px;
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.664);
    border-radius: 50%;
    padding: 2px 7px;
    margin: 0 4%;
    opacity: 0.4;
    transition: 0.25s;
}
.imageshow > div > span:hover{
    opacity: 1;
}
.watchsort{
    float:right;
}
.watchsort>div{
    position: relative;
}
.watchsort>select{
    width: 250px;
    font-size: 18px;
    background: none;
    border:none;
    outline:none;
    border-bottom: 2px solid #001942;
    margin: 5px;
    padding: 2px;
    cursor: pointer;
}
.inputsort{
    margin: 5px 10px 10px 5px;
    padding: 5px;
    display:none;
    outline:none;
    border: none;
    border-left: 2px solid #001942;
    font-size: 18px;
}
.searchlist{
    overflow-y:auto;
    height: auto;
    max-height: 180px;
    overflow-x: hidden;
    display: none;
}
#myul{
    padding:0;
    display:none;
}
.searchlist>ul>li{
    list-style-type: none;
    padding: 5px 10px;
    cursor: pointer;
}
.searchlist>ul>li:hover{
    background-color: rgb(233, 233, 233);
}
.searchlist>ul>li>a{
    text-decoration: none;
    color: #001942;
    font-size: 17px;
}
.Tagdisplay{
    width:100%;
    max-width: 500px;
    height:auto;
    display: flex;
}
.Tagdisplay>ul{
    padding: 0;
    margin: 0;
}
.Tag{
    display: inline-table;
    list-style-type: none;
    border: 1px solid rgb(201, 202, 224);
    padding: 2px 5px;
    background: rgb(241, 241, 241);
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}
.Tag:hover{
    background: rgb(224, 224, 224);
}
#delete{
    margin: 0 6px;
    color: rgb(165, 150, 150);
}
#delete:hover{
    color: rgb(126, 109, 109);
}

/* the style for the placeholder */

.Placeholdercontainer{
    margin: 10px;
}

.Placeholderrole{
    width:100%;
    height:50px;
    max-width:400px;
    background-color: rgb(252, 252, 252);
    border-radius: 40px;
    display: flex;
    overflow:hidden;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1px solid rgb(151, 151, 151);
    cursor: pointer;
}
.placeholder-img{
    width:40px;
    height:40px;
    object-fit: contain;
    overflow: hidden;
    border-radius: 30%;
}
.placeholder-img>img{
    width:100%;
    cursor: pointer;
    z-index:10;
}
.placeholder-text{
    line-height: 50px;
    margin: 0 10px;
    width:100%;
}
.placeholder-text>span{
    color: rgb(104, 104, 104);
    font-weight: 520;
    font-family: monospace;
    font-size: 21px;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.declareBtn{
    color: white;
    margin:0;
    font-weight: 550;
    font-size: 18px;
    letter-spacing: 3px;
    width: 100%;
    padding: 10px 15px;
    border:1px solid rgb(207, 207, 207);
    background: #001942;
    background-image: linear-gradient(#072f6e, #001942 50%);
    cursor: pointer;
}
.declareBtn:hover{
    background: #06214d;
    background-image: linear-gradient(#214a8d, #0a2653 -50%);
}