body{
    padding:0;
    margin:0;
    overflow-x: hidden;
}
.Popcon{
    position: fixed;
    left:0;
    top:0;
    z-index:999;
    width:100%;
    height:100%;
    display:none;
    overflow-x: hidden;
}
.Postpop{
    background-color: white;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    overflow-x:hidden;
}
.texter>textarea{
    resize: none;
    outline:none;
    border:none;
    font-size:22px;
    width:94%;
    min-height:5em;
    min-width: 90%;
    padding:0 15px 10px 15px;
    margin-top: 4%;
    border-bottom: 1px solid rgb(236, 236, 236);
}
.postypes{
    width:100%;
    display: flex;
}
.postypes>div{
     border: 1px solid rgb(223, 223, 223);
     padding: 3px 10px;
     margin: 2px 10px;
     cursor: pointer;
    transition: 0.6s;
}
.postypes>div>span{
    color:rgb(136, 136, 136);
}
.postypes>div:active{
    background-color: rgb(223, 223, 223);
}
.filterchoice>input{
    width:450px;
    border:none;
    outline: none;
    font-size: 20px;
    padding: 10px 15px;
    background-color: white;
    box-sizing: border-box;
}
.drop{
    width:100%;
    display: none;
    transition: 0.3s;
}
.drop>ul{
    width:100%;
    background-color: rgb(247, 245, 245);
    margin:0;
    padding:0;
}
.drop>ul>li{
    list-style-type: none;
    font-size: 17px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.2s;
}
.drop>ul>li:active{
    background-color: rgb(235, 235, 235);
}
.markup{
    float:right;
    width: 18px;
    height:18px;
    background-color: white;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 50%;
}
.selected{
    border: 4px solid #001942 !important;
    box-sizing: border-box;
    width:20px !important;
    height:20px !important;
}

/* the container for uploading and displaying images/videos */
.uploadinfo{
    width:100%;
}
.uploadbutton{
    display: inline-block;
    width: 100%;
    max-width: 150px;
    height: 30px;
    margin: 5px 10px;
    padding: 0;
    position: relative;
    z-index: 1;
    border-bottom: 2px solid #001942;
    outline: none;
    box-sizing: border-box;
}
.uploadbutton>input[type="file"]{
    float: left;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}
.uploadbutton > span{
    position: absolute;
    top: 5%;
    left: 0;
    margin: 0 30px;
    padding: 0;
    font-size: 18px;
}
.imageshow{
    display: none;
    position: relative;
    width: 30%;
    outline: none;
    margin: 0;
    padding: 10px;
}
.imagecon{
    width: 250px;
    height: 250px;
    margin: 0;
    padding: 0;
}
.imagecon> img{
    display: block;
    width: 100%;
    height: 100%;
    max-height: 700px;
    object-fit: cover;
    object-position: center;
}
.imageshow > div > span{
    position: absolute;
    top:0;
    left:0;
    transform: translate(20%, 50%);
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.664);
    border-radius: 50%;
    padding: 2px 7px;
    margin: 0 4%;
    opacity: 0.4;
    transition: 0.25s;
}
.imageshow > div > span:active{
    opacity: 1;
}
.watchsort{
    float:right;
}
.watchsort>div{
    position: relative;
}
.watchsort>select{
    width: 250px;
    font-size: 18px;
    background: none;
    border:none;
    outline:none;
    border-bottom: 2px solid #001942;
    margin: 5px;
    padding: 2px;
}
.inputsort{
    margin: 5px 10px 10px 5px;
    padding: 5px;
    display:none;
    outline:none;
    border: none;
    border-left: 2px solid #001942;
    font-size: 18px;
    box-sizing: border-box;
}
.searchlist{
    overflow-y:auto;
    height: auto;
    max-height: 180px;
    overflow-x: hidden;
    display: none;
}
#myul{
    padding:0;
    display:none;
}
.searchlist>ul>li{
    list-style-type: none;
    padding: 5px 10px;
}
.searchlist>ul>li:active{
    background-color: rgb(233, 233, 233);
}
.searchlist>ul>li>a{
    text-decoration: none;
    color: #001942;
    font-size: 17px;
}
.Tagdisplay{
    width:100%;
    max-width: 600px;
    height:auto;
    display: flex;
}
.Tagdisplay>ul{
    padding: 0;
    margin: 0;
}
.Tag{
    display: inline-table;
    list-style-type: none;
    border: 1px solid rgb(201, 202, 224);
    padding: 2px 5px;
    background: rgb(241, 241, 241);
    border-radius: 5px;
    margin: 5px;
}
.Tag:active{
    background: rgb(224, 224, 224);
}
#delete{
    margin: 0 6px;
    color: rgb(165, 150, 150);
}
#delete:active{
    color: rgb(126, 109, 109);
}
/* the style for the placeholder */
.Placeholdercontainer{
    margin: 10px;
}

.Placeholderrole{
    width:100%;
    height:50px;
    background-color: rgb(252, 252, 252);
    border-radius: 40px;
    display: flex;
    overflow:hidden;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1px solid rgb(151, 151, 151);
}
.placeholder-img{
    width:40px;
    height:40px;
    object-fit: contain;
    overflow: hidden;
    border-radius: 30%;
}
.placeholder-img>img{
    width:100%;
    z-index:10;
}
.placeholder-text{
    line-height: 40px;
    margin: 0 10px;
    width:100%;
}
.placeholder-text>span{
    color: rgb(104, 104, 104);
    font-weight: 520;
    font-family: monospace;
    font-size: 21px;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.declareBtn{
    position: fixed;
    bottom: 0;
    color: white;
    margin:0;
    font-weight: 550;
    font-size: 22px;
    letter-spacing: 3px;
    width: 100%;
    padding: 15px 15px;
    border:1px solid rgb(207, 207, 207);
    background: #001942;
    background-image: linear-gradient(#072f6e, #001942 50%);
}
.declareBtn:active{
    background: #06214d;
    background-image: linear-gradient(#214a8d, #0a2653 -50%);
}
@media screen and (max-width: 400px){
    .placeholder-text > span{
        font-size: 17px;
    }
}
@media screen and (max-width: 530px){
    .uploadbutton > span{
        top: -40%;
        font-size: 35px;
        transform: translateX(-50%);
        left: 50%;
    }
    .searchlist>ul>li>a{
        font-size: 25px;
    }
    .drop>ul>li{
        font-size: 30px;
    }
    .Tag>span{
        font-size: 30px;
    }
    .postypes>div>span{
        font-size: 30px;
    }
    .filterchoice>input{
        padding: 15px;
        font-size: 30px;
        width: 100%;
    }
    .watchsort{
        width: 100%;
        clear: both;
    }
    .watchsort > select{
        width: 100%;
        font-size: 30px;
        letter-spacing: 2px;
    }
    .inputsort{
        font-size: 25px;
        margin: 2% 4%;
        width: 95%;
    }
    .uploadbutton{
        max-width: unset;
        width: 95%;
        margin-top: 5%;
    }
    .imageshow{
        width: 100%;
        padding: 10px 0;
    }
    .imagecon{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .texter>textarea{
        font-size: 30px
    }
    .imageshow > div > span{
        font-size: 50px;
        padding: 10px 15px;
        margin: 0;
    }
    
}
